.leftPane {
    width: 250px;
    height: 93vh;
    background: #fff;
    float: left;
}

.ms-Fabric>.ms-FocusZone {
    display: inline;
}

.Nav-linkText {
    font-size: 13px;
    margin-left: 20px;
}

.ms-Nav-compositeLink {
    height: 3rem;
    display: flex;
    align-items: center;
}

.ms-Nav-link {
    height: 3rem;
}